@charset 'utf-8';

* {
    font-family: 'Roboto', sans-serif;
}

code {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #000000;
    color: #fefefe;
    cursor: default;

    opacity: 0;
    transition: opacity 1s ease 1s;
}

body.onloaded {
    opacity: 1;
}

a {
    color: #3f66c7;
}
